*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header * {
  padding: 10px;
}

.list-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-page * {
  padding: 10px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item button {
  margin: 10px;
}